@media screen and (min-width: 601px) {
    .login, .signup {
        align-items: center;
    }
}
@media screen and (max-width:600px) {
    .login, .signup {
        margin-left: 1em;
    }
    .login h1, .signup h1 {
        margin-left: 0;
    }
}
.login, .signup {
    display: flex;
    flex-direction: column;
}
.login label, .signup label, .login input, .signup input {
    width: 100%;
    display: block;
}
.login form, .signup form {
    width: 100%;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1em;
}
.login input, .signup input {
    padding: .5em;
    width: 100%;
}
.login button, .signup button {
    padding: .5em;
    width: 100%;
    margin-top: .5em;
}