.AddExpense {
    width: 100%;
    margin: auto;
    max-width: 36rem;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;
}
.AddExpense * {
    display: block;
}
.AddExpense h1 {
    margin-left: 0;
}
.AddExpense select, .AddExpense input, .AddExpense button {
    padding: .5em;
    font-size: 1em;
    width: 100%;
}
.AddExpense button {
    margin-top: .5rem;
}