@use "../abstracts/color";
@use "../abstracts/spacing";
.categories {
    &__btn { 
        background-color: color.$secondary; 
        max-width: 20rem; 
        transition: max-width 1s;
        z-index: 999;
        position: absolute;
        &.closed { 
            max-width: 3rem; 
            position: absolute;
            background: none;
        }
    }
    &__form {
        max-width: 40rem;
        margin-top: 1rem;
        padding: spacing.$margin-standard;
        * { display: block; }
        input, .btn { max-width: 25rem; z-index: 999; }

        overflow-y: hidden;
        opacity: 0;
        transition: opacity 1s;
        &.open { 
            transform: translateY(0);
            opacity: 1;
            transition: opacity 1s;
        }
        &.hidden {
             display: none;}
    }
}