@use "./scss/components/button";
@use "./scss/pages/pages";
@use "./scss/components/components";
@import "variables";
@import "./components/Profile/Profile.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $primary-color;
}
main {
  max-width: $max-width;
  margin: auto;
}
.add-category-button {
  padding: .5rem 1rem;
  margin-top: .5rem;
  background-color: $secondary-color;
  border: none;

  &:hover { background-color: darken($secondary-color, 10%); }

  &:focus { background-color: lighen($secondary-color, 10%); }
}